.profcontain {
  box-sizing: border-box;
  width: 700px;
  min-height: 52vh;
  background-color: #5746ea;
  border-radius: 20px;
  margin: 40px 60px 0px 110px;
  display: flex;
  padding: 20px;
}
.profcontain img {
  width: 200px;
  height: 400px;
}
.insidecont {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.topcont {
  width: 300px;
  min-height: 200px;
  margin-top: 20px;
}
.topcont p {
  font-family: Roboto;
  font-size: 37px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;
  color: white;
  margin: 10px 0px;
}
.topcont h2 {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0.02em;
  text-align: left;
  color: white;
  margin: 10px 0px;
}

.botcont {
  width: 350px;
  min-height: 150px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  place-content: center;
  align-items: center;
}

.botcont button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #9f94ff;
  color: white;
}
